<a href="https://colab.research.google.com/github/Revathi-co/Python-Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1: Example of lists, tuples, set, dictionaries and frozenset.**

List Examples

In [7]:
list1=["Hello", 10,20,30.5, True, 20]
print('The values are',list1)
# Index number -> helps to print individual data
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

list1[-2]=False
print('After updating the value is', list1)

# Append
list1.append(50)
print("after appending the values are", list1)

# Insert
list1.insert(3,40)
print("The values are", list1)

The values are ['Hello', 10, 20, 30.5, True, 20]
Hello
10
20
30.5
True
After updating the value is ['Hello', 10, 20, 30.5, False, 20]
after appending the values are ['Hello', 10, 20, 30.5, False, 20, 50]
The values are ['Hello', 10, 20, 40, 30.5, False, 20, 50]

In [6]:
list2 = [[10,20,30,40],["a","b","c","d"],[1.2,3.5,2.5,4.8]]
for l in range(len(list2)):
  print(f"list {l+1} : {list2[l]}",end="\t")
  print(f"list type : {type(list2[l][0])}")

list 1 : [10, 20, 30, 40]	list type : <class 'int'>
list 2 : ['a', 'b', 'c', 'd']	list type : <class 'str'>
list 3 : [1.2, 3.5, 2.5, 4.8]	list type : <class 'float'>

Tuple Examples

In [12]:
tuple1 = (10,20,30,40,50)
print(tuple1)
tuple2 = ("Revathi's","Message : Hello Everyone")
print(" ".join(tuple2))

(10, 20, 30, 40, 50)
Revathi Message : Hello Everyone

Dictionary Examples

In [16]:
dict1 = {
    "a":10,
    "b":20,
    "c":30,
    "d":40,
    "e":50
}
print(f"Dictionary keys: {dict1.keys()}")
print(f"Dictionary values: {dict1.values()}")

Dictionary keys: dict_keys(['a', 'b', 'c', 'd', 'e'])
Dictionary values: dict_values([10, 20, 30, 40, 50])

In [19]:
dict2 ={
    "Python": [50],
    "java": [45],
    "c++": [50]
}

In [20]:
key = input("Enter the Subject:")
value = int(input("Enter the Marks:"))
if key in dict2:
  dict2[key].append(value)
else:
  dict2[key]=value
print(dict2)

Enter the Subject:Python
Enter the Marks:46
{'Python': [50, 46], 'java': [45], 'c++': [50]}

Set Examples

In [21]:
set1={10,20,30,40,20,60,70,30,10}
print("The values of set1 is",set1)

set1.add(80)
print(set1)

The values of set1 is {70, 40, 10, 20, 60, 30}
{70, 40, 10, 80, 20, 60, 30}

In [23]:
set2 = {10,20,40,50}
print(set1|set2)
print(set1&set2)

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 10, 20}

**Assignment2: File Modes**

In [59]:
f = open("text1.txt", "r+")
print(f.read())
f.write("\n append data")

Read and Write (‘r+’): Open the file for reading and writing.
The handle is positioned at the beginning of the file.
Raises I/O error if the file does not exist.
 append data

13

In [60]:
f = open("text2.txt", "r")
f.read()

'Write and Read (‘w+’) : Open the file for reading and writing. \nFor an existing file, data is truncated and over-written.\n The handle is positioned at the beginning of the file.'

In [61]:
with open("text2.txt","w+") as f:
  print(f.write(" over- writing the text..."))
  f.read()

26

In [62]:
f = open("text2.txt", "r")
f.read()

' over- writing the text...'

In [65]:
f = open("text3.txt", "a+")
f.write("\n append text using a+")

22

In [66]:
f = open("text3.txt", "r")
f.readlines()

['Append and Read (‘a+’) : Open the file for reading and writing. The file is created if it does not exist.\n',
 ' The handle is positioned at the end of the file. \n',
 ' The data being written will be inserted at the end, after the existing data.\n',
 ' append text using a+']

**Assignment 3**

In [67]:
a= int(input("Enter the first value:"))
b= int(input("Enter the second value:"))
operator = input("Enter the operator:")
exp = f"{a}{operator}{b}"
print(f"The result of expression {exp} is {eval(exp)}")
sentence= f"The first value is {a}\n The second value is {b}\n The operator is '{operator}'\n The result of expression {exp} is {eval(exp)}"
with open("Result.txt","w") as file1:
  file1.writelines(sentence)

Enter the first value:231
Enter the second value:245
Enter the operator:-
The result of expression 231-245 is -14

**Assignment4: String Template**

In [71]:
from string import Template
  
marks ={
    "Python": 50,
    "java": 45,
    "c++": 50
}
  
t = Template('Subject Name: $name,   Marks: $marks')
  
for key,value in marks.items():
     print (t.substitute(name = key, marks = value))

Subject Name: Python,   Marks: 50
Subject Name: java,   Marks: 45
Subject Name: c++,   Marks: 50